:root{
    --yellow: #f3d250;
    --pink: #f78888;
    --lighterblue: #90ccf4;
    --darkerblue: #5da2d5;
    --offwhite: #ececec;
}

body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }
  
.header {
    padding: 60px;
    text-align: center;
    background: #5da2d5;
    color: #ececec;
    font-size: 30px;
}

.topnav {
    background-color: #f78888;
    overflow:hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #90ccf4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #fcc8c8;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #90ccf4;
    color: white;
  }

  .light-theme {
      color:#5da2d5;
      background:#ececec;
      border: #90ccf4;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #f3d250; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #f78888;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #f78888;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
}