:root{
    --yellow: #f3d250;
    --pink: #f78888;
    --lighterblue: #90ccf4;
    --darkerblue: #5da2d5;
    --offwhite: #ececec;
}

body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }

  .light-theme {
      color:#5da2d5;
      background:#ececec;
      border: #90ccf4;
  }