:root{
    --yellow: #f3d250;
    --pink: #f78888;
    --lighterblue: #90ccf4;
    --darkerblue: #5da2d5;
    --offwhite: #ececec;
}

body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }
  
.header {
    padding: 60px;
    text-align: center;
    background: #5da2d5;
    color: #ececec;
    font-size: 30px;
}

.topnav {
    background-color: #f78888;
    overflow:hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #90ccf4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #fcc8c8;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #90ccf4;
    color: white;
  }

  .light-theme {
      color:#5da2d5;
      background:#ececec;
      border: #90ccf4;
  }