div {
    border-left: solid 80px;
    border-right: double 80px;
    border-color: #90ccf4;
    width: 200px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }