div {
    border-left: solid 8px;
    border-right: double 8px;
    border-color: #90ccf4;
    width: 800px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}